*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(0, 0, 0, 0.747);
}
.App {
  font-family: sans-serif;
  text-align: center;
  color: #F0f0f0;
}

.top-site{
  width: 100%;
  align-items: center;
  align-content: center;
  padding-bottom: 3vh;
}
.div-logo-site{
  align-items: center;
  justify-content: center;
  background-color: #C4C4C4;
  margin: 0;
}
.logo{
  width: 7.8128vw;
  cursor: pointer;
}
.content-search{
  background-color: #676767;
  align-items: center;
  align-content: center;
  padding: 2vh;
}
.input-Search{
  width: 350px;
  height: 40px;
  background-color: #FFFFFF;
  outline-color: #414141;
  border-color: #414141;
  border-radius: 20px;
}
.submit-line {
  display: inline-flex;
  width: 350px;
}

.submit-line input {
  width: 100%;
  text-align: left;
  padding: 15px;
}
.btn-Search{
  position: relative;
  left: -40px;
  top: 5px;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
}

.title{
  cursor: pointer;
}

.animePosterList{
  cursor: pointer;
}

.animesList {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  list-style: none;
  grid-gap: 1.5rem;
}

.aNone{
  text-decoration: none;
  color: #F0f0f0;
}

.animeDetail {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  grid-gap: 1.5rem;
}

.animesList img {
  max-width: 100%;
}

.carousel {
  height: 250px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 10%;
}
.carousel li {
  list-style: none;
}

.carousel .switchLeft,
.carousel .switchRight{
  color: white;
  font-weight: bold;
  height: 100%;
  width: 45px;
  line-height: 250px;
  font-size: 25px;
  text-align: center;
  background-color: tomato;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}

.carousel .switchLeft{
  position: absolute;
  left: -50px;
}

.carousel .switchRight{
  position: absolute;
  right: -50px;
}

.carouselBox {
  min-height: 280px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.carousel img{
  min-width: 147px;
  max-width: 147px;
  height: 200px;
  background-size: cover;
  background-color: tomato;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 5;
}
#arrow-carrousel{
  position: relative;
  left: -4px;
  min-width: 35px;
  max-width: 35px;
  height: 35px;
}
.carouselBox img:hover{
  transform: scale(1.25);
  z-index: 1;
}
.content{
  align-items: center;
  width: 100%;
}

.animesList{
  padding: 5%;
}

#sentinela {
  width: 100%;
  height: 10px;
  visibility: hidden;
}
#sentinela2 {
  width: 100%;
  height: 10px;
  visibility: hidden;
}

.img__description {
  margin: 5px 10px;
  position: relative;
  max-width: 147px;
  min-width: 147px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.267);
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.div-carousel{
  align-items: center;
  align-content: center;
  min-height: 200px;
}

.div-carousel:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.loader_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
}

.titleAnimeDetail{
  font-family: 'Vujahday Script', cursive;
  font-size: 42px;
  padding: 1vw;
}
.favAnimeDetail{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-top: 1vw;
  padding-bottom: 0.2vw;
}
.epAnimeDetail{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-bottom: 1vw;
}
.descriptionAnimeDetail{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
}
.ul-animeDetail{
  width: 100%;
}
.animeContentBottom{
  width: 100%;
  align-content: center;
  align-items: center;
  padding-bottom: 3vw;
}
.iframe-youtube{
  align-content: center;
  align-items: center;
}